.main {
  padding: 100px 0;
}

.para-posts{
  margin: 0 auto;
  max-width: 900px;
}

.para-posts .post {
  background: #FFF;
  padding: 24px;
  align-items: center;
  margin-bottom: 50px;
  border-radius: 5px;
  flex-direction: column;
}

.post .post__topo {
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.post .post__topo .data {
  color: #717171;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  height: 20px;
  width: 109px;
}

.post .post__topo .like {
  cursor: pointer;
}

.post .post__conteudo strong {
  color: #1A202C;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  width: 507px;
  height: 33px;
}

.post .post__conteudo p {
  color: #717171;
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  width: 850px;
}